body{
    display: flex;
    flex-direction: column;
}

body {
    background-color: bisque;
    min-height: 100%;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 120%;
    max-height: fit-content;
}

.fin-btn{
    position: fixed;
    bottom: 5vh;
    right: 5vw;
}

.nav {
    min-height: 10vh;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: right;
}

.center {
    margin: auto;
    width: 100%;
    min-height: 90vh;
    background-color:aliceblue;
    justify-content: center;
}

.rest {
    background-color: thistle;
}

.pg-btn {
    padding: 1%;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid darkcyan;
    background-color: aquamarine;

}

.pg-btn:hover{
    background-color:darkcyan;
    cursor: pointer;
}

.cho-ing, .fin-bur{
    width: 50%;
    min-width: 200px;
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.ingredients{
    margin:1%;
}

.patties, .veggies, .sauces {
    padding: 2%;
}

.patty, .veggie, .sauce, .bun {
    border: solid 0.15rem transparent;
    border-radius: 1rem;
    width: 50%;
}

.veggie{
    height: 1.5rem;
}

.patty{
    height: 2rem;
}

.sauce{
    width: 60%;
    height: 0.5rem;
}

.ing, .ing-past{
    margin: 0.3rem auto;
}

.ing:hover{
    background-color:orangered;
}

.top-bun{
    border-radius: 150% 150% 10% 10%;
}

.bottom-bun{
    border-radius: 10% 10% 150% 150%;
}

.bun {
    border-color: rgb(248, 175, 85);
    background-color: rgb(247, 198, 139);
    height: 4rem;
    width: 60%;
    margin: 1rem auto;
}

.burger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tomato-red{
    background-color: rgb(247, 107, 107);
}

.tomato {
    border-color: rgb(211, 2, 2);
    background-color: rgb(247, 107, 107);
}

.egg {
    border-color: rgb(255, 196, 1);
    background-color: rgb(250, 249, 240);
}

.onion {
    border-color: rgb(233, 82, 247);
    background-color: rgb(238, 227, 238);
    height: 1.1rem;
}

.lettuce {
    background-color: rgb(157, 250, 164);
    border-color: rgb(85, 211, 2);
    height: 1rem;
    width: 55%;
    border-style: dashed;
}

.ham, .bacon{
    height: 0.8rem;
}

.ham {
    border-color: rgb(211, 2, 65);
    background-color: rgb(250, 157, 193);
    border-width: 0.12rem;
}

.bacon {
    border-color: rgb(194, 7, 22);
    background-color: rgb(247, 113, 103);
}

.pickles, .jalapeno{
    width: 15%;
    height: 1rem;
}

.pickles {
    border-color: rgb(42, 102, 2);
    background-color: rgb(0, 180, 15);
}

.jalapeno {
    border-color: rgb(224, 250, 207);
    background-color: rgb(26, 116, 34);
    border-style: dashed;
}

.cheese, .vegan{
    border-radius: 0.5rem;
    width: 60%;
    height: 0.6rem;
}

.cheese {
    border-color: rgb(231, 133, 4);
    background-color: rgb(253, 224, 93);
}

.vegan {
    border-color: rgb(252, 155, 27);
    background-color: rgb(255, 232, 132);
}

.chicken{
    border-color: rgb(192, 110, 2);
    background-color: rgb(255, 166, 0);
}

.beef{
    border-color: rgb(114, 2, 39);
    background-color: rgb(190, 37, 63);
}

.meatballs{
    border-color: rgb(80, 1, 27);
    background-color: rgb(116, 37, 50);
    height: 2.5rem;
    border-radius: 40%;
}

.pork{
    border-color: rgb(114, 2, 67);
    background-color: rgb(190, 37, 108);
}

.vegan-patty{
    border-color: rgb(83, 105, 2);
    background-color: rgb(134, 148, 9);
}

.mayonnaise{
    border-color: rgb(255, 236, 176);
    background-color: rgb(248, 247, 210);
}

.ketchup{
    border-color: rgb(211, 2, 2);
    background-color: rgb(247, 107, 107);
}

.barbeque{
    border-color: rgb(145, 1, 32);
    background-color: rgb(224, 56, 70);
}

.hot{
    border-color: rgb(255, 0, 0);
    background-color: rgb(255, 72, 72);
}

.mustard{
    border-color: rgb(250, 199, 30);
    background-color: rgb(255, 247, 0);
}

.error {
    background-color: orangered;
}

.price{
    float: right;
    padding: 1%;
    margin: 1%;
}

.burger-container{
    width: 40%;
    margin:1%;
}

.white{/*stupid fix*/
    display: none;
}

.list-ing{
    width: 30%;
    margin: auto;
    text-align: center;
}
    
.del-burger{
    width: 10%;
    margin: auto;
    text-align: center;
}

.normal, .delete{
    min-height: fit-content;
    padding: 2%;
    margin: auto 1%;
    text-align: center;
}

.normal {
    background-color: silver;
    width: 20%;
}

.delete{
    background-color :wheat;
    width: 10%;
}

.delete:hover{
    background-color: red;
}

.normal:hover{
    cursor: pointer;
    background-color: springgreen;
}

.favorite{
    background-color: yellowgreen;
}
.favorite:hover{
    background-color: tomato;
}

.no-burger{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @media only screen and (max-height: 200px) {
    .fin-btn {
        width: fit-content;
        position:relative;
        float: right;
        top: 40vh;
        right: 10vw;
    }
  }